.nav {
  left:auto;
    right: 100px;
}
.space {
  padding-left: 20px;
}
.nav-content {
  margin-left: 25%;
}
.nav-parallax-prev {
  left:auto;
  right:38px;
}
.page-business-investment article.text::before {
  background: none;
  /*width: 25vw;*/
}
.circle-nav-slides, .circle-nav-slides::after {
  border-radius:30%;
}
.page-business-investment .circle-nav {
  left: -35%;
  width: 140vh;
  height: 100vh;
  top:-10vh;
  margin:4px;
  border:2px solid #00BFFF;
  border-radius: 29%;
}
.cv-inner-wrap {
  position:absolute;
  width:98.5%;
  height:98.5%; 
  top:0;
  left:0;   
}
.circle-nav-outline {
  display:none;
}
.page-business-investment .circle-nav-slides .circle-nav-slide-img {
  width:100%;
  left:150px;
  padding:100px 0px 0px 500px;
}
.page-business-investment .circle-nav-items {
  position: absolute;
  right: -60vw;
  top:50%;
  /*padding-left: 100px;*/
}
.page-business-investment article.text {
  left: auto !important;
  right:80px !important;
  top: 0;
  margin-top: 310px;
  padding-bottom: 15vh;
  width: 500px;
}
.circle-nav-items {
  padding-right: 0;
}
.circle-nav-item {
  top: 50%;
  right: 50%;
  margin-left: 0;
}
/*active 15*/
.circ__top {
  height: 800px;
  width: 800px;
  position: fixed;
  margin-top: -450px;
  margin-left: 1350px;
  z-index: 10;
  background-image: url(../screens/bg_c1.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.circ__bot {
  height: 800px;
  width: 800px;
  position: fixed;
  margin-top: -450px;
  margin-left: 1400px;
  z-index: 10;
  background-image: url(../screens/bg_c2.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.rot__circ0 {
  -webkit-animation: rotate 30s linear infinite;
}
.rot__circ1 {
  -webkit-animation: rotate0 30s linear infinite;
    }
    @-webkit-keyframes rotate {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate0 {
  from{
      -webkit-transform: rotate(360deg);
  }
  to{
      -webkit-transform: rotate(0deg);
  }
}

.page-business-investment .circle-nav-item.js-active .circle-nav-name::before {
  display:block;
  content:'';
  position:absolute;
  left:-1px;
  top:45%;
  width: 1.5vw;
  height: 1.5vw;
  margin-left: -15px;
  background-color: #00BFFF;
  border-radius:50%;
}
.page-business-investment .circle-nav-item .circle-nav-name::before {
  display:block;
  content:'';
  position:absolute;
  left:-1px;
  top:45%;
  width: 1.2vw;
  height: 1.2vw;
  margin-left: -15px;
  background-color: #929292;
  border-radius:50%;
}

h2 {
  color: #00BFFF;
}
.parallax article {
  font-size: large;
  word-spacing: 2px;
  line-height: 1.5;
}
#backnav {
  bottom: 0;
  right: 0;
  width: 34px;
  height: 53px;
  z-index: 12;
  position: fixed;
  margin-top: 80vh;
  margin-right: 24vw;
  text-align: center;
  color: gray;
  background-image: url(../screens/btn_back.png);
}
#homenav {
  bottom: 0;
  right: 0;
  width: 103px;
  height: 64px;
  background-image: url(../screens/map.png);
  z-index: 12;
  position: fixed;
  margin-top: 80vh;
  margin-right: 15vw;
}
.btn_txth {
  position: fixed;
  z-index: 12;
  margin-bottom: 5vh;
  margin-right: 17.5vw;
  text-align: center;
  color: gray;
  width: 34px;
  height: 53px;
  bottom: 0;
  right: 0;
}

.footer-loc{
  color: #53c5f2 !important;
  text-align: center;
}
.footer-test{
  color: #bbbbbb !important;
  text-align: center;
}
.btn_txtl {
  position: fixed;
  z-index: 12;
  margin-bottom: 5vh;
  margin-right: 24vw;
  text-align: center;
  color: gray;
  width: 34px;
  height: 53px;
  bottom: 0;
  right: 0;
}
#nextnav {
  bottom: 0;
  right: 0;
  width: 34px;
  height: 53px;
  background-image: url(../screens/btn_next.png);
  z-index: 12;
  position: fixed;
  margin-top: 80vh;
  margin-right: 10vw;
}
.btn_txtr {
  position: fixed;
  z-index: 12;
  margin-bottom: 5vh;
  margin-right: 10vw;
  text-align: center;
  color: gray;
  width: 34px;
  height: 53px;
  bottom: 0;
  right: 0;
}
.btn_menu {
  z-index: 13;
  top: 0;
  right: 0;
  margin-top: 4vh;
  margin-right: 5vw;
  background-color: #6ecde3;
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.btn_menu:hover {
  background-color: #929292 !important;
}
.btn_backfirstpage {
  z-index: 13;
  top: 0;
  right: 0;
  margin-top: 4vh;
  margin-right: 9vw;
  background-color: #6ecde3;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
}
.btn_backfirstpage:hover {
  background-color: #929292;
}
.page-business-investment .circle-nav-name {
  font-size: 1.5rem;
}
.page-business-investment .circle-nav-item:hover .circle-nav-name {
  color: #00BFFF;
  opacity: 1;
}
.circle-nav-item .circle-nav-name {
  font-size: 22px;
  color: #bdbebf;
  font-weight: 600;
  line-height: 1.3;
  vertical-align: -webkit-baseline-middle;
  padding-left: 20px;
  width: 250px;
}
.nav-inner {
  background-color: #00BFFF;
}
.btn-circular {
  background-color: #00BFFF;
}
#f-page {
  z-index: 16;
  text-decoration: none;
  margin-right: 90px;
}#f-page:hover {
  background-color: #6ecde3;
  text-decoration: none;
  color: white;
}
.nav-main .nav-main-sub-item {
  color: white;
}
.nav-main-item {
  font-size: 22px;
  /*font-weight: normal;*/
}
.back_icon {
  background-image: url(screens/nav_back.png);
  z-index: 17;
  /*width: 18px;
  height: 18px;*/

}

p.small { 
    font-size: 16px; 
          margin:10px 0; 
          line-height: 22px;

}
